.outerdiv{
    background-color: red;
   margin-left: 20px;
   margin-right: 20px;

}
.outerdiv h1{
    margin-left: 50%;
    margin-top: 40px;
    background-color: blue;
    display: inline;
    padding-top: 40px;
    padding-bottom: 40px;


}
.outerdiv p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;

}
.outerdiv p{
    background-color: blue;
    margin-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.outerdiv button{
    background-color: brown;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 430px;
    margin-top: 50px;
  padding: 30px;
  cursor: pointer;
}