.navbar {
    background-color:white; 
    padding: 10px; 
  }
  
  .navbar ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
  
  .navbar ul li {
    display: inline; 
    margin-right: 30px; /* Add spacing between list items */
    
  }
    
  .navbar ul li a {
    text-decoration: none; 
    color: #121111; 
  }
  .fa-phone{
    margin-right: 80px;
    margin-left: 80px;
  }
  