.main{
    display: grid;
    grid-template-columns:1fr 2fr 1fr ;
    gap: 0px;
}
.one{
border: 3px solid blue;
padding-left: 20px;



}
.two{
    border: 3px solid blue;


  
}
.three{
    border: 3px solid blue;
    padding-left: 20px;
   

   
}
h1{
    background-color: blue;
    margin-left: 125px;
    margin-right:125px ;
    margin-bottom:180px ;
    text-align: center;
    color: white;
    padding: 30px;
}
h4{
   text-align: center;
}
.two{
    padding-left: 200px;
    padding-right: 200px;
}

